/* UserView.css */
.tourneys-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  box-sizing: border-box;
}

.tourneys-box {
  background: rgba(0, 0, 0, 0.75);
  padding: 20px;
  border-radius: 10px;
  max-width: 1000px;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.tourneys-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem; /* Espacio entre los elementos */
  justify-content: center; /* Centra los elementos */
}



.tourney-item:hover {
  transform: scale(1.02);

}
