/* UserTourneyView.css */
.tourney-view {
  text-align: center;
  padding: 1rem;
  max-width: 300px; 
  margin: 0 auto; 
  background: rgba(0, 0, 0, 0.539);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 2px solid #4caf50;
}

.tourney-view:hover {
  transform: scale(1.05);
  
}

.tourney-view h2 {
  margin-bottom: 0.5rem;
  color: #fff;
}

.tourney-view p {
  margin: 0.5rem 0;
  color: #ddd;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.image-container img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  object-fit: cover;
}

.register-button {
  background: #4caf50;
  color: white;
  border: none;
  padding: 0.5rem 4rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.register-button:hover {
  background: #45a049;
}
